$border-color: black;

.Header {
    width: 100%;
    margin: 0;
    overflow: auto;
    border-bottom: 1px solid $border-color;
    background-color: white;
    .client-actions {
        float: right;
        font-size: 150%;
        line-height: 70px;
        button {
            border: none;
            background-color: unset;
            outline: none;
            line-height: normal;
            display: inline-block;
            vertical-align: bottom;
            transition: 0.4s;
        }
        button:first-child {
            border-right: 1px solid $border-color;
        }
        button:last-child {
            border-left: 1px solid $border-color;
        }
        button:hover {
            color: gray;
        }
        .Nav-open-button {
            padding: 0 5px;
        }
    }
    .Logo {
        float: left;
        width: 20%;
        img {
            width: 100%;
        }
    }
}
