$border-line: 1px solid black;

.Header {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: white;
    z-index: 1;
    top: 0;
    position: sticky !important;
    box-shadow: 0 0 17px 0 gray;
    @import './Client-actions';
    .Logo {
        float: left;
        width: 20%;
        img {
            width: 100%;
        }
    }
}
