@mixin review($float){
    width: 100%;
    overflow: auto;
    margin: 80px 0;
    font-size: 110%;
    p{
        width: 40%;
        float: $float;
        text-align: $float;
        @if $float == left{
            margin-left: 20px;
        }
        @else{
            margin-right: 20px;
        }
        .author{
            color: grey;
            display: block;
            font-family: fantasy;
        }
    }
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.Home-page{
    width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: 80px;
    .annivesary{
        width: 100%;
        margin: auto;
        text-align: center;
        background: linear-gradient(90deg, rgb(251, 255, 0) 0%, rgb(231, 224, 14) 46%);
        h1{
            font-size: 400%;
            height: 30vh;
            .counter{
                display: inline;
            }
        }
    }
    .nav{
        li{
            display: inline-block;
            margin: auto 20px;
            a{
                color: rgb(61, 61, 61) !important;
                text-transform: uppercase;
            }
            a:hover{
                text-decoration: none;
                transition-duration: .3s;
                color: gray !important;
            }
        }
        ul{
            width: 100%;
            margin: auto 20px;
            padding: 10px 0;
            border-bottom: 0.1px solid grey;
            text-align: center;
        }
    }
    .content{ 
        .reviews{
            width: 100%;
            margin: 100px auto;
            overflow: auto;
            .review:first-child{
                margin-top: 40px;
            }
            .review{
                @include review($float: left)
            }
            .review:nth-child(2n){
                @include review($float: right)
            }
        }
        .recomended{
            padding: 20px;
            margin-bottom: 80px;
            > h2{
                width: 100%;
                margin: auto;
                text-align: center;
                font-size: 400%;
            }
            .loader{
                width: 100%;
                margin: auto;
                text-align: center;
                margin-top: 50px
            }
            @import './Recomended';
        }
        #stats{
            width: 100%;
            margin: auto;
            text-align: center;
            h2{
                font-size: 400%;
            }
        }
    }
    @import './Counters';
}   