#modal{
    label{
        width: 50% !important;
        input{
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
        }
    }
    input[type='file']{
        margin: 15px auto;
    }
    input[type='number']{
        width: 30% !important;
        border: 1px solid black;
        text-align: center;
        margin: auto;
    }
    input[type='checkbox']{
        width: auto;
        margin-right: 10px;
    }
    textarea{
        resize: none;
        width: 100%;
    }
    button{
        float: right;
    }
}
.Modal-invalidFormValidate{
    color: red;
}