#modal {
    label {
        width: 50% !important;
        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
        }
    }
    input[type="file"] {
        outline: none;
        margin: 15px auto;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        display: none;
    }
    input[type="checkbox"] {
        width: auto;
        margin-right: 10px;
    }
    textarea {
        resize: none;
        width: 100%;
        padding: 10px;
        outline: none;
    }
    button {
        float: right;
    }
    .loader {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: 30px;
    }
}
.Modal-invalidFormValidate {
    color: red;
}
