.Nav-open-button{
    font-size: 107%;
    border-right: 1px solid black !important;
}
.Nav-list {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .35s linear;
    padding-top: 60px;
    width: 30%;
    ul {
        list-style-type: none;
        width: 33vw;
    }
    li {
        display: block;
        position: sticky;
        margin: 20px auto;
        a {
            color: white;
            font-size: 150%;
            padding: 0 10px;
            transition: 0.35s linear;
            border-left: 0px solid black;
            span{
                font-size: 100% !important;
                border-right: none !important;
                margin-left: 5px;
            }
        }
        a.active:hover,
        a.active,
        a:hover {
            border-left: 10px solid white;
            text-decoration: none;
        }
    }
}
